div{
    /*border: 1px orange solid;*/
}

body{
    background: #fafafa;

}

.customFooter {
    background-color: #1b6d85;
    margin-top: 15px;
    margin-bottom: 0;
}

.footerText{
    text-align: center;

}